[user]
	email = mail@abdus.xyz
	name = Abdus
	signingkey = 0C9A4E9267C5385FCB99C8FFEB3966E37BA3DFD8
[commit]
	gpgsign = true
[core]
	editor = nvim
[sendemail]
  smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = mail@abdus.xyz
	smtpserverport = 587
