[user]
	email = abdus@abdus.net
	name = Abdus
	signingkey = 105C3F70ED4A0F788D741A25ADC4E3A6FEBBB900
[commit]
	gpgsign = true
[core]
	editor = nvim
[sendemail]
  smtpencryption = tls
	smtpserver = smtp.porkbun.net
	smtpuser = abdus@abdus.net
	smtpserverport = 587
	annotate = yes
[format]
	signOff = yes
[credential]
	helper = cache --timeout 3600
[init]
	defaultBranch = main
